.user-icon{
  width: 50px;
  height: 50px;
  color: white;

}
.user-name{
  font-size: 30px;
  color: white;
  text-decoration: none;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
}

.logo{
  width: 120px; 
  margin-left: 10px; 
}

.post-links-container{
  background-color: #11676d;
  border-radius: 10px;
  height: 700px;
  margin-bottom: 50px;
}

.list-group-item{
  background-color: #ffa525;
}
.post-links{
  background-color: #ffa525;
  border-radius: '10px';
  border: none;
}


.post-links:hover, .dropzone:hover{
  cursor: pointer;
  opacity: 0.8;
}
.post-links:active, .dropzone:active{
  opacity: 0.3;
}
.links{
  text-decoration: none !important;
  color: white !important;
  font-weight: 700;
}

label, p{
  color: #11676d;
  font-size: 20px;
  font-weight: 500;
}
    
button.submit{
  background-color: #11676d;
}
button.dropzone {
  width: 25px;
  height: 25px;
  background: rgb(240, 78, 78);
}

li.rejected-list{
  min-width: auto;
}
.active{
  background-color: rgb(108, 108, 141) !important;
  
}




/* login user */

.login-user-icon{
  width: 40px;
  height: 40px;
  color: orange;

}
.login-user-name{
  font-size: 30px;
  color: orange;
  text-decoration: none;
}

